{{ $anime := resources.Get "js/anime.min.js" }}
{{ $interact := resources.Get "js/interact.min.js" }}
{{ $glitch := resources.Get "js/glitch-canvas.min.js" }}
{{ $simplebar := resources.Get "js/simplebar.min.js" }}
{{ $graph := resources.Get "js/3d-force-graph.min.js" }}
{{ $three := resources.Get "js/three.min.js" }}
{{ $pass := resources.Get "js/pass.js" }}
{{ $copyshader := resources.Get "js/copyshader.js" }}
{{ $highpassshader := resources.Get "js/highpassshader.js" }}
{{ $unrealbloompass := resources.Get "js/unrealbloompass.js" }}
{{ $threescript := resources.Get "js/threescript.js" }}
{{ $global := resources.Get "js/global.js" }}
{{ $js := slice $simplebar $global | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
{{ $threeall := slice $simplebar $three $pass $copyshader $highpassshader $unrealbloompass $graph $threescript | resources.Concat "js/threebundle.js" | resources.Fingerprint }}
<script src="{{ $threeall.RelPermalink }}" integrity="{{ $threeall.Data.Integrity }}"></script>
<!-- <script async src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script> -->
