<div class="loading">
  <p>U</p>
  <p>Ü</p>
</div>

<button class="btn btn--header btn--menu">
  <div class="info">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M443.04,51.311c-35.402,0-64.204,28.802-64.204,64.204c0,6.474,0.973,12.725,2.763,18.622l-81.022,54.892
			c-10.922-11.327-25.331-19.256-41.488-22.046V97.588c21.144-5.692,36.755-25.024,36.755-47.94C295.843,22.271,273.572,0,246.195,0
			c-27.377,0-49.648,22.271-49.648,49.648c0,22.918,15.611,42.247,36.755,47.94v69.392c-31.362,5.415-56.155,30.208-61.57,61.57
			H102.34c-5.692-21.143-25.024-36.755-47.94-36.755c-27.377,0-49.648,22.271-49.648,49.648c0,27.377,22.271,49.648,49.648,49.648
			c22.918,0,42.247-15.611,47.94-36.755h69.392c3.333,19.307,14.001,36.134,29.039,47.477l-43.116,84.137
			c-41.091-11.446-81.406,19.696-81.406,61.844c0,35.402,28.802,64.204,64.204,64.204s64.204-28.802,64.204-64.204
			c0-20.222-9.407-38.28-24.064-50.056l43.11-84.127c22.089,6.899,46.509,3.359,66.006-10.42l49.083,49.081
			c-10.831,18.728-8.529,43.449,7.918,59.898c19.405,19.402,50.809,19.405,70.212,0c19.407-19.404,19.406-50.807,0.002-70.213
			c-16.411-16.414-41.128-18.775-59.898-7.92l-49.081-49.083c15.505-21.938,18.142-50.283,7.122-74.598L394,156.886
			c11.786,13.951,29.394,22.833,49.043,22.833c35.402,0,64.204-28.802,64.204-64.204C507.244,80.113,478.442,51.311,443.04,51.311z
			 M54.401,265.306c-13.156,0-23.861-10.705-23.861-23.862c0-13.156,10.705-23.861,23.861-23.861
			c13.156,0,23.861,10.705,23.861,23.861C78.261,254.602,67.557,265.306,54.401,265.306z M140.453,486.213
			c-21.183,0-38.417-17.232-38.417-38.417c0-21.185,17.233-38.417,38.417-38.417c21.183,0,38.417,17.232,38.417,38.417
			C178.871,468.981,161.636,486.213,140.453,486.213z M222.335,49.648c0-13.156,10.705-23.861,23.861-23.861
			c13.156,0,23.861,10.705,23.861,23.861S259.353,73.51,246.197,73.51C233.04,73.51,222.335,62.805,222.335,49.648z
			 M246.197,291.244c-27.46,0-49.8-22.34-49.8-49.8c0-27.46,22.34-49.8,49.8-49.8s49.8,22.34,49.8,49.8
			C295.996,268.904,273.656,291.244,246.197,291.244z M364.945,360.193c9.325-9.328,24.418-9.326,33.743,0
			c9.328,9.325,9.328,24.417,0,33.745c-9.326,9.326-24.418,9.326-33.743-0.002c-0.002,0-0.002,0-0.002,0
			C355.617,384.609,355.617,369.517,364.945,360.193z M443.04,153.93c-21.183,0-38.417-17.232-38.417-38.417
			c0-21.183,17.233-38.417,38.417-38.417c21.183,0,38.417,17.232,38.417,38.417C481.457,136.698,464.223,153.93,443.04,153.93z"/>
	</g>
</svg>

  </div>
</button>

<header class="menu">
  <div class="menu__content">
    <a href="https://abrupt.cc/kosmokritik/praxis-critique-ontologique" target="_blank" rel="noopener"
      class="title__link">{{ .Site.Params.Titre }}</a>
    <div class="credits">
      {{ .Site.Params.credits | markdownify }}
    </div>

  </div>
</header>
